/* CORRECCIÓN LOGO GOLDENFIINE */

.logo,
.logo:visited,
.logo:hover,
.logo:active {
  color: #f1eee7 !important;
  text-decoration: none !important;
}

.logo-img {
  color: #f1eee7 !important;
}

.logo-img img {
  display: block;
}
